beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.6.16
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
django==2.2.4
django-crontab==0.7.1
django-filter==2.2.0
django-rest-swagger==2.2.0
djangorestframework==3.10.3
dwebsocket==0.5.11
idna==2.8
itypes==1.1.0
Jinja2==2.10.3
lxml==4.3.4
Markdown==3.1.1
MarkupSafe==1.1.1
mysql-connector-python==8.0.17
numpy==1.16.4
openapi-codec==1.3.2
pandas==0.24.2
pymongo==3.8.0
PyMySQL==0.9.3
python-dateutil==2.8.0
pytz==2019.1
redis==3.3.8
requests==2.22.0
simplejson==3.16.0
six==1.12.0
soupsieve==1.9.2
sqlparse==0.3.0
tushare==1.2.37
uritemplate==3.0.0
urllib3==1.25.3
