{% extends 'cms/base.html' %}
{% load static %}
{% load custom_tag %}
{% block title %}
    账户管理
{% endblock %}
{% block head %}

    <link rel="stylesheet"
          href="{% static 'adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/rbac/account.min.css' %}">
    <script src="{% static 'adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'adminlte/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
    <script src="{% static 'js/user.min.js' %}"></script>
{% endblock %}

{% block header %}
    <p>账户管理</p>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header account-box">
                    <form action="" method="get" class="form-inline">
                        <div class="account-left-group">
                            <div class="form-group left-group">
                                <lable for="title">用户名</lable>
                                {% if username %}
                                    <input type="text" class="form-control account-title" name="username"
                                           placeholder="搜索用户名"
                                           value="{{ username }}">
                                {% else %}
                                    <input type="text" class="form-control account-title" name="username"
                                           placeholder="搜索用户名">
                                {% endif %}

                            </div>
                            <div class="form-group status-group">
                                <lable for="rolename">状态</lable>
                                <select name="status" id="status" class="form-control account-status">
                                    <option value="">正常</option>
                                    <option value="">禁用</option>
                                </select>
                            </div>
                            <div class="form-group left-group">
                                <button class="btn btn-info search" id="search">
                                    搜索
                                </button>
                            </div>
                        </div>
                        <div class="account-right-group">
                            <div class="form-group ">
                                {#                            <a href="#"><button>新增</button></a>#}
                                <a href="#" class="btn btn-info user-add-btn" id="user-add-btn">
                                    <i class="fa fa-plus-square" aria-hidden="true">新增账户</i> </a>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>用户名</th>
                            <th>手机号</th>
                            <th>邮箱</th>
                            <th>状态</th>
                            <th>角色</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>

                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr data_users_id="{{ user.pk }}" data-name="{{ user.username }} "
                                data-email="{{ user.email }}" data-role="{{ user.password }}"
                                data-password="{{ user.password }}">
                                <td>
                                    {{ user.username }}
                                </td>
                                <td>{{ user.phone_number }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.status }}</td>
                                <td>
                                    {% for role in user.roles.all %}
                                        {{ role.rolename }} &nbsp;
                                    {% endfor %}
                                </td>

                                <td>{{ user.create_time }}</td>
                                <td>
                                    <a href="#" class="btn btn-info btn-xs edit-user-btn">编辑</a>
                                    <a href="#" class="btn btn-info btn-xs delete-users-btn"
                                       id="delete-usersBtn">删除</a>
                                    <a href="#" class="btn btn-info btn-xs update-user-btn">修改密码</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
               {% include 'cms/box_footer.html' %}
            </div>
        </div>
    </div>
    <div class="mask-wrapper">
        <form action="" class="form" method="post">
            <div class="author-wrapper">
                <div class="close-group">
                    <span class="close-btn icon-close iconfont"></span>
                </div>
                <div class="user-modal-header">
                    <div class="user-modal-header-inner">添加用户</div>
                </div>
                <div class="user-modal-body">
                    <div class="singup-group auth-group">
                        <div class="form-group left-group">
                            <div class="input-group">
                                <label for="username" class="label-user">用户名:</label>
                                <input type="text" class="form-control" name="usernamea" autocomplete="off"
                                       placeholder="请输入用户名">
                            </div>
                            <div class="input-group">
                                <div class="short-group">
                                    <label for="email" class="label-user">手机号:</label>
                                    <input type="text" class="form-control" name="email" autocomplete="off"
                                           placeholder="请输入手机号">
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="short-group">
                                    <label for="email" class="label-user">邮箱:</label>
                                    <input type="text" class="form-control" name="email" autocomplete="off"
                                           placeholder="请输入邮箱">
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="short-group">
                                    <span for="">用户状态</span>
                                    <a href="#">正常</a>
                                    <a href="#">禁用</a>
                                </div>

                            </div>
                            <div class="input-group">
                                <label for="password" class="label-user">密码:</label>
                                <input type="password" class="form-control" name="password" autocomplete="off"
                                       placeholder="密码">
                            </div>
                            <div class="input-group">
                                <label for="userrole" class="label-user">角色：</label>
                                <select name="userrole" id="userrole" class="userrole">
                                    {% for role in roles %}
                                        <option value="{{ role.pk }}">{{ role.rolename }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-modal-footer">
                    <div class="button-account">
                        <button id="user-cacle" class="btn confirm">取消</button>
                        <a id="user-confirm" class="btn cancle">确认</a>
                    </div>
                </div>
            </div>
        </form>
    </div>


{% endblock %}