{% extends 'cms/base.html' %}
{% load static %}
{% block title %}
    角色管理
{% endblock %}
{% block head %}
    <link rel="stylesheet"
          href="{% static 'adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/rbac/role.min.css' %}">
    <script src="{% static 'adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'adminlte/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
    <script src="{% static 'js/roles.min.js' %}"></script>
{% endblock %}

{% block header %}
    <p>角色管理</p>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box role-box">
                <div class="box-header">
                    <form action="" method="get" class="form-inline">
                        <div class="role-left-group">
                            <div class="form-group left-group">
                                <label class="rolename-label" for="role">角色</label>
                                {% if rolename %}
                                    <input type="text" class="form-control rolename-input" name="rolename-seach"
                                           placeholder="搜索角色名称" value="{{ rolename }}">
                                {% else %}
                                    <input type="text" class="form-control rolename-input" name="rolename-seach"
                                           placeholder="搜索角色名称">
                                {% endif %}

                            </div>
                            <div class="form-group left-group">
                                <button href="#" class="btn btn-info rolename-serach" id="search">搜索</button>
                            </div>
                        </div>
                        <div class="role-right-group">
                            <div class="form-group left-group">
                                <a class="btn btn-info role-add-btn" id="role-add-btn">添加角色</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>角色名称</th>
                            <th>权限</th>
                            <th>操作</th>
                        </thead>
                        <tbody>
                        {% for role in roles %}
                            <tr data-role-id="{{ role.pk }}">
                                <td>
                                    {{ role.rolename }}
                                </td>
                                <td>
                                    {% for permission in role.permissions.all %}
                                        {{ permission.title }} &nbsp;
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="#" class="btn btn-info btn-xs">编辑</a>
                                    <a class="btn btn-info btn-xs delete-roles-btn" id="delete-RoleBtn"
                                       data_news_id="">删除
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'cms/box_footer.html' %}
            </div>
        </div>
    </div>
    <div class="role-wrapper">
        <form action="" class="form">
            <div class="role-modal-content">
                <div class="close-group">
                    <span class="close-btn icon-close iconfont"></span>
                </div>
                <div class="role-modal-header">
                    <div class="role-modal-header-inner">添加角色</div>
                </div>
                <div class="role-modal-body ">
                    <div class="form-group">
                        <lable class="role-label-body" for="title">角色:</lable>
                        <input type="text" class="form-control" name="rolename" placeholder="请输入角色" value="">
                    </div>
                    <div class="form-group ">
                        <lable class="role-label-body-select" for="permission">权限:</lable>
                        <select name="permission" id="permission" class="form-control-select">
                            {% for permission in permissions %}
                                <option value="{{ permission.pk }}">{{ permission.title }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <div class="button-account">
                    <a id="role-confirm" class="btn  pull-right confirm">确认</a>
                    <button id="cacle" class="btn  pull-right cancle">取消</button>
                    {#                    <button class="btn btn-danger">登陆</button>#}
                </div>
            </div>
        </form>
    </div>
{% endblock %}