.account-management{
  .form-group{

    .account{
      margin-right: 20px;
      //width: 100px;
      margin-top: 15px;
      height: 40px;
      line-height: 30px;
      width: 120px;
    }
    .curry{
      margin-right: 60px;
      height: 40px;
      line-height: 30px;
      width: 120px;
    }
    .property{
      margin-right: 60px;
      height: 40px;
      line-height: 30px;
      width: 120px;
    }
  }
}