{% extends 'cms/base.html' %}
{% load static %}
{% block title %}
    交易账户管理
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'ystep-master/css/ystep.css' %}">
    <link rel="stylesheet" href="{% static 'css/manamegent/girding.min.css' %}">
    <script src="{% static 'arttemplate/template-web.js' %}"></script>
{% endblock %}
{% block header %}
    <p>网格交易</p>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header deal-management">
                    <form action="" class="form-inline">
                        {#                        第一个界面#}
                        <div class="deal-left-group">
                            <div class="form-group left-group">
                                <span class="curry-title">交易币种</span>
                                <select class="form-control deal-curry" name="deal-curry">
                                    <option value="" selected>请选择</option>
                                    {% for property in properties %}
                                        <option value="{{ property.pk }}">{{ property.currency }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group left-group">
                                <span class="market-title">交易市场</span>
                                <select class="form-control deal-market" name="deal_market">
                                    <option value="" selected>请选择</option>
                                    {% for market in markets %}
                                        <option value="{{ market.pk }}">{{ market.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group left-group">
                                <span class="status">状态</span>
                                <select class="form-control deal-status" name="deal_status">
                                    <option value="" selected>请选择</option>
                                    <option value="">运行中</option>
                                    <option value="">已停止</option>
                                    <option value="">保护中</option>
                                </select>
                            </div>
                            <div class="form-group left-group">
                                <button class="btn btn-info" style="width: 80px">搜索</button>
                                </select>
                            </div>
                        </div>
                        {#                        第二个界面#}
                        <div class="deal-right-group">
                            <div class="form-group account-group ">
                                <a class="btn btn-info pull-right account " id="one-key-stop">一键停止</a>
                            </div>
                            <div class="form-group curry-group">
                                <a class="btn btn-info pull-right curry " id="one-key-run">一键运行</a>
                            </div>
                            <div class="form-group property-group">
                                <a class="btn btn-info " id="create-robot">创建机器人</a>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>机器人ID</th>
                            <th>交易账户</th>
                            <th>交易币种</th>
                            <th>交易市场</th>
                            <th>交易策略</th>
                            <th>总投入</th>
                            <th>浮动盈亏</th>
                            <th>实现利润</th>
                            <th>总利润</th>
                            <th>年化收益率</th>
                            <th>创建日期</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for robot in robots %}
                            <tr data-id="{{ robot.pk }}" status="{{ robot.status }}" protect="{{ robot.protection }}">
                                <td>{{ robot.pk }}</td>
                                <td>{{ robot.trading_account.title }}</td>
                                <td>{{ robot.currency }}</td>
                                <td>{{ robot.market }}</td>
                                <td>{{ robot.trading_strategy }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{ robot.create_time }}</td>
                                <td>{{ robot.get_status_display }}</td>
                                <td>
                                    <a class="run-stop" id="run-robot" run_status="{{ robot.run_status }}"
                                       href="#">{{ robot.get_run_status_display }}</a>
                                    <a class="robot-details" href="javascript:;">详情</a>
                                    <a class="allocation" href="javascript:;">配置</a>
                                    <a class="protect-relieve" href="#">{{ robot.get_protection_display }}</a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="robot-wrapper">
        <div class="robot-content">
            <div class="close-group">
                <span class="close-btn icon-close iconfont"></span>
            </div>
            <div class="robot-modal-header">
                <div class="robot-modal-header-inner ystep1">创建机器人</div>
            </div>
            {#            进度条       #}
            <ul class="robot-modal-body">
                <li class="ystep">
                </li>
                <!-- 第一步            选择交易对-->
                <li class="trading-on">
                    <span class="title">选中交易对</span>
                    <div class="select-trading">
                        <div class="trading-curry">
                            <div class="curry-title">
                                <span>交易币种</span>
                            </div>
                            <select class="curry" name="curry" id="curry">
                                <option value="" selected>---请选择---</option>
                                {% for propertty in properties %}
                                    <option value="">{{ propertty.currency }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="trading-market">
                            <div class="market-title">
                                <span>交易市场</span>
                            </div>
                            <select class="market" name="market" id="market">
                                <option value="" selected>---请选择---</option>
                                {% for market in markets %}
                                    <option value="{{ market.pk }}">{{ market.name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>

                </li>
                <!--第二部           选择交易策略-->
                <li class="trading-strategy">
                    <div class="strategy-curry">
                        <span class="title">选中交易对:</span>
                        <span class="curry">LTC</span>
                        <img src="{% static 'images/1-1.png' %}" alt="">
                    </div>
                    <div class="strategy-title">
                        <span class="title">选择交易策略</span>
                    </div>
                    <div class="strategy-name">
                        <div class="strategy-button">

                            <button class="deal-strategy active girding">网格交易V1.0</button>
                            {#                            <img class="correctimg" src="{% static 'images/correct.png' %}" alt="">#}
                            <button class="deal-strategy triangle">三角套利V1.0</button>
                            <button class="deal-strategy banzhuan">搬砖套利V1.0</button>
                        </div>
                    </div>
                </li>
                {#第三步                  #}
                <li class="set-strategy">
                    <div class="strategy-curry">
                        <span class="title">选中交易对:</span>
                        <span class="curry">LTC/USDT</span>
                    </div>
                    <div class="strategy-title">
                        <span class="title">选择交易策略:</span>
                        <span class="strategy">网格交易V1.0</span>
                    </div>
                    <div class="title">
                        <span>设置策略参数</span>
                    </div>
                    <div class="strategy-parameters">
                        <div class="trading-parameters account-curry">
                            <span class="title">交易账户</span>
                            <select class="parameters-control" name="account" id="robot-account">
                                <option value="" selected>---请选择---</option>
                                {% for account in accounts %}
                                    <option value="{{ account.pk }}">{{ account.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="trading-parameters account-details">
                            <span class="title">可用:</span>
                            <span class="currency"> 45,000.00 usdt</span>
                            <span class="market"> 6,000.0000 ltc</span>
                        </div>
                        <div class="trading-parameters  current-price">
                            <span class="title">当前价</span>
                            <span class="price">200</span>
                            <span class="df">usdt</span>
                            <span>
                                <input class="set-price" value="" type="text">
                            </span>
                            <a href="#" id="set-currenPrice">设置当前价</a>
                        </div>
                        <div class="trading-parameters">
                            <span class="title">重新挂单频率</span>
                            <input class="parameters-control millisecond-value" type="text" value="">
                            <span class="millisecond">毫秒</span>
                        </div>
                        <div class="trading-parameters resistance">
                            <span class="title">阻力位</span>
                            <input class="parameters-control  resistance-value" type="text">
                        </div>
                        <div class="resistance-error-message">
                            <span class="error"></span>
                        </div>
                        <div class="trading-parameters support-level ">
                            <span class="title">支撑位</span>
                            <input class="parameters-control support-value" type="text" value="">
                        </div>
                        <div class="trading-parameters girding-num ">
                            <span class="title">网格数量</span>
                            <input class="parameters-control grid-number" id="stratery-girding-num" value="100"
                                   type="text">
                        </div>
                        <div class="trading-parameters procudere-fee ">
                            <span class="title">单次交易手续费</span>
                            <input class="parameters-control" id="one-girding-free" value="0.1" type="text">
                            <span class="percent">%</span>
                        </div>
                        <div class="trading-parameters mix-number ">
                            <span class="title">单网格最小交易数量</span>
                            <input class="parameters-control value" type="text">
                        </div>
                        <div class="trading-parameters max-number ">
                            <span class="title">单网格最大交易数量</span>
                            <input class="parameters-control value" type="text">
                        </div>
                        <div class="trading-parameters profit ">
                            <span class="title">单网格利润</span>
                            <span class="profit-value">0.21%-0.60%</span>
                        </div>
                    </div>
                </li>
                {#第四步                  #}
                <li class="set-risk-strategy">
                    <div class="strategy-curry">
                        <span class="title">选中交易对:</span>
                        <span class="curry">LTC/USDT</span>
                    </div>
                    <div class="strategy-title">
                        <span class="title">选择交易策略:</span>
                        <span class="curry">网格交易V1.0</span>
                    </div>
                    <div class="set-strategy-title">
                        <div class="strategy-parameters-top">
                            <span class="title">设置策略参数:</span>
                            <span class="deal-account">交易账户</span>
                            <span class="user">EXX账户</span>
                            <span>阻力位:</span>
                            <span class="resistance">93.45</span>
                            <span class="">支撑位:</span>
                            <span class="support-level">93.45</span>
                            <span class="">网格数量:</span>
                            <span class="girding-num">68</span>
                        </div>
                        <div class="strategy-parameters-below">
                            <span class="procudere-fee">单次交易手续费:</span>
                            <span class="deal-account">0.1%</span>
                            <span class="girding-profit">单网格利润:</span>
                            <span class="resistance">0.21%-0.46%</span>
                        </div>

                        <div class="riskstrategy">
                            <div>设置风险策略</div>
                            <div class="stopLoss">止损价 <input class="parameters-control loss" type="text"
                                                             value="">
                            </div>
                            <div class="warning">预警价<input class="parameters-control value" type="text">
                            </div>
                        </div>
                        {#                        需要获取账户列表#}
                        <div class="warninguser">
                            <div>预警账户</div>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type="checkbox" class="user"> 524135494218
                                </label>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="user"> 524135494218
                                </label>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="user"> 524135494218
                                </label>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="user"> 524135494218
                                </label>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="user"> 524135494218
                                </label>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="user"> 524135494218
                                </label>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="user"> 524135494218
                                </label>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="user"> 524135494218
                                </label>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
            <div class="trading-footer">
                <div class="trading-button">
                    <a class="btn prevent-btn  " id="btnPre">上一步</a>
                    <a class="btn next-btn" id="btnNext">下一步</a>
                    <button class=" btn complete-btn " id="btnComplete">完成</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    {#    全局遮罩#}
    <div class="tradingShade">
    </div>
    {#    详情页面#}
    <div class="tradingParticulars ">
        <div class="trading-content">
            <div class="trading-close-group">
                <span class="trading-close-btn close-btn icon-close iconfont" style="cursor: pointer"></span>
            </div>
            <div class="trading-modal-header">
                <div class="robot-modal-header-inner ystep1">交易详情</div>
            </div>
        </div>
        <div class="trading-top">
            <ul>
                <li class="trading-loading green" style="display: inline-block">待成交<span class="deal-opening"> </span>
                </li>
                <li class="trading-ending" style="display: inline-block">已完成<span class="deal-completed"></span></li>
            </ul>
        </div>
        <script id="robot-deal-details" type="text/html">
            {% verbatim %}
            <div class="trading-particulars">
                <div class="trading-container">
                    <div class="trding-information-details">
                        <div class="trding-information">
                            <span class="account-total">总投入:</span>{{ robots.total_input }}
                            <span class="strategy-time">策略已运行:</span>{{ robots.running_time }}
                        </div>
                        <div class="trding-information">
                            <span class="title">账户可用:</span>
                            <span class="account-usdt">{{ robots.currency_balance }}</span>
                            <span class="account-btc">{{ robots.currency_freeze }}</span>
                            <span class="freeze-title">账户冻结:</span>
                            <span class="freeze-usdt">{{ robots.market_balance }}</span>
                            <span class="freeze-btc">{{ robots.market_freeze }}</span>
                        </div>
                        <div class="trding-information">
                            <span>现价(LTC/USDT):</span>{{ robots.last }}
                        </div>
                    </div>
                    <div class="trading-list">
                        <span>买入(8笔）</span>
                        <span class="buy-num">数量</span>
                        <span class="buy-price">价格</span>
                        <ul>
                            <li>
                                <span>买1</span>
                                <span>7391 usdt</span>
                                <span>7391 itc</span>
                            </li>
                            <li>
                                <span>买2</span>
                                <span>7391 usdt</span>
                                <span>7391 itc</span>
                            </li>
                            <li>
                                <span>买3</span>
                                <span>7391 usdt</span>
                                <span>7391 itc</span>
                            </li>
                            <li>
                                <span>买4</span>
                                <span>7391 usdt</span>
                                <span>7391 itc</span>
                            </li>
                            <li>
                                <span>买5</span>
                                <span>7391 usdt</span>
                                <span>7391 itc</span>
                            </li>
                            <li>
                                <span>买6</span>
                                <span>7391 usdt</span>
                                <span>7391 itc</span>
                            </li>
                            <li>
                                <span>买7</span>
                                <span>7391 usdt</span>
                                <span>7391 itc</span>
                            </li>
                            <li>
                                <span>买8</span>
                                <span>7391 usdt</span>
                                <span>7391 itc</span>
                            </li>
                        </ul>
                    </div>
                    <div class="trading-list-ending">
                        <span>卖出(8笔）</span>
                        <span class="sell-num">数量</span>
                        <span class="sell-price">价格</span>
                        <ul>
                            <li>
                                <span>买1</span>
                                <span>7391 usdt</span>
                                <span>7391 itc</span>
                            </li>
                            <li>
                                <span>买2</span>
                                <span>7391 usdt</span>
                                <span>7391 itc</span>
                            </li>
                            <li>
                                <span>买3</span>
                                <span>7391 usdt</span>
                                <span>7391 itc</span>
                            </li>
                            <li>
                                <span>买4</span>
                                <span>7391 usdt</span>
                                <span>7391 itc</span>
                            </li>
                            <li>
                                <span>买5</span>
                                <span>7391 usdt</span>
                                <span>7391 itc</span>
                            </li>
                            <li>
                                <span>买6</span>
                                <span>7391 usdt</span>
                                <span>7391 itc</span>
                            </li>
                            <li>
                                <span>买7</span>
                                <span>7391 usdt</span>
                                <span>7391 itc</span>
                            </li>
                            <li>
                                <span>买8</span>
                                <span>7391 usdt</span>
                                <span>7391 itc</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="trading-ending-table">
                <div class="trding-information-details">
                    <div class="trding-information">
                        <span class="account-total">总投入:</span>{{ robots.total_input }}
                        <span class="strategy-time">策略已运行:</span>{{ robots.running_time }}
                    </div>
                    <div class="trding-information">
                        <span class="title">账户可用:</span>
                        <span class="account-usdt">{{ robots.currency_balance }}</span>
                        <span class="account-btc">{{ robots.currency_freeze }}</span>
                        <span class="freeze-title">账户冻结:</span>
                        <span class="freeze-usdt">{{ robots.market_balance }}</span>
                        <span class="freeze-btc">{{ robots.market_freeze }}</span>
                    </div>
                    <div class="trding-information">
                        <span>现价(LTC/USDT):</span>{{ robots.last }}
                    </div>
                </div>
                <table border="1px" class="trading-ending-list">
                    <tr>
                        <th>类型</th>
                        <th>价格(USDT)</th>
                        <th>总额(USDT)</th>
                        <th>创建时间</th>
                        <th>类型</th>
                        <th>价格(USDT)</th>
                        <th>总额(USDT)</th>
                        <th>创建时间</th>
                        <th>收益(USDT)</th>
                    </tr>

                    <tr>
                        <td>买入</td>
                        <td>74.78</td>
                        <td>1.331084</td>
                        <td>2019080721：33</td>
                        <td>卖出</td>
                        <td>75.21</td>
                        <td>1.338737</td>
                        <td>2019/080722：42</td>
                        <td>+0.07654</td>
                    </tr>
                    <tr>
                        <td>买入</td>
                        <td>74.78</td>
                        <td>1.331084</td>
                        <td>2019080721：33</td>
                        <td>卖出</td>
                        <td>75.21</td>
                        <td>1.338737</td>
                        <td>2019/080722：42</td>
                        <td>+0.07654</td>
                    </tr>
                    <tr>
                        <td>买入</td>
                        <td>74.78</td>
                        <td>1.331084</td>
                        <td>2019080721：33</td>
                        <td>卖出</td>
                        <td>75.21</td>
                        <td>1.338737</td>
                        <td>2019/080722：42</td>
                        <td>+0.07654</td>
                    </tr>
                    <tr>
                        <td>买入</td>
                        <td>74.78</td>
                        <td>1.331084</td>
                        <td>2019080721：33</td>
                        <td>卖出</td>
                        <td>75.21</td>
                        <td>1.338737</td>
                        <td>2019/080722：42</td>
                        <td>+0.07654</td>
                    </tr>
                    <tr>
                        <td>买入</td>
                        <td>74.78</td>
                        <td>1.331084</td>
                        <td>2019080721：33</td>
                        <td>卖出</td>
                        <td>75.21</td>
                        <td>1.338737</td>
                        <td>2019/080722：42</td>
                        <td>+0.07654</td>
                    </tr>
                    <tr>
                        <td>买入</td>
                        <td>74.78</td>
                        <td>1.331084</td>
                        <td>2019080721：33</td>
                        <td>卖出</td>
                        <td>75.21</td>
                        <td>1.338737</td>
                        <td>2019/080722：42</td>
                        <td>+0.07654</td>
                    </tr>
                    <tr>
                        <td>买入</td>
                        <td>74.78</td>
                        <td>1.331084</td>
                        <td>2019080721：33</td>
                        <td>卖出</td>
                        <td>75.21</td>
                        <td>1.338737</td>
                        <td>2019/080722：42</td>
                        <td>+0.07654</td>
                    </tr>
                    <tr>
                        <td>买入</td>
                        <td>74.78</td>
                        <td>1.331084</td>
                        <td>2019080721：33</td>
                        <td>卖出</td>
                        <td>75.21</td>
                        <td>1.338737</td>
                        <td>2019/080722：42</td>
                        <td>+0.07654</td>
                    </tr>
                    <tr>
                        <td>买入</td>
                        <td>74.78</td>
                        <td>1.331084</td>
                        <td>2019080721：33</td>
                        <td>卖出</td>
                        <td>75.21</td>
                        <td>1.338737</td>
                        <td>2019/080722：42</td>
                        <td>+0.07654</td>
                    </tr>
                    <tr>
                        <td>买入</td>
                        <td>74.78</td>
                        <td>1.331084</td>
                        <td>2019080721：33</td>
                        <td>卖出</td>
                        <td>75.21</td>
                        <td>1.338737</td>
                        <td>2019/080722：42</td>
                        <td>+0.07654</td>
                    </tr>
                    <tr>
                        <td>买入</td>
                        <td>74.78</td>
                        <td>1.331084</td>
                        <td>2019080721：33</td>
                        <td>卖出</td>
                        <td>75.21</td>
                        <td>1.338737</td>
                        <td>2019/080722：42</td>
                        <td>+0.07654</td>
                    </tr>
                    <tr>
                        <td>买入</td>
                        <td>74.78</td>
                        <td>1.331084</td>
                        <td>2019080721：33</td>
                        <td>卖出</td>
                        <td>75.21</td>
                        <td>1.338737</td>
                        <td>2019/080722：42</td>
                        <td>+0.07654</td>
                    </tr>
                </table>
                {% include 'cms/box_footer.html' %}
            </div>
            {% endverbatim %}
        </script>

    </div>
    <div class="parameter-configuration">
        <div class="configuration-content">
            <div class="parameter-content">
                <div class="parameter-close-group">
                    <span class="parameter-close-btn close-btn icon-close iconfont"></span>
                </div>
                <div class="parameter-modal-header">
                    <div class="robot-modal-header-inner ystep1">参数配置</div>
                </div>
            </div>
            <div class="parameter-list-content" id="parameter-list-content">
                <script id="robots-details" type="text/html">
                    {% verbatim %}
                    <div class="parameter-strategy-parameters">
                        <div>策略参数</div>
                        <ul>
                            <li><span>交易账户</span><input type="text" disabled="disabled" value="{{ robots.account_name
                 }}"></li>
                            <li class="account_details"><span>可用</span><span>{{  }} 6.000.0000itc</span></li>
                            <li><span>当前价</span><input type="text" disabled="disabled"
                                                       value="{{ robots.robot.fields.current_price }}"></li>
                            <li><span>重新挂单频率</span><input type="text" class="edit-orders-frequency" disabled="disabled"
                                                          value="{{ robots.robot.fields.orders_frequency }}"></li>
                            <li><span>阻力值</span><input type="text" disabled="disabled "
                                                       value="{{ robots.robot.fields.resistance }}"></li>
                            <li><span>支撑位</span><input type="text" disabled="disabled"
                                                       value="{{ robots.robot.fields.support_level }}"></li>
                            <li><span>网格数量</span><input type="text" disabled="disabled"
                                                        value="{{ robots.robot.fields.girding_num }}"></li>
                            <li><span>单次交易手续费</span><input type="text" disabled="disabled"
                                                           value="{{robots.robot.fields.procudere_fee }}%"></li>
                            <li><span>单网格最小交易数量</span><input type="text" class="edit-mix-num"
                                                             value="{{ robots.robot.fields.min_num }}"></li>
                            <li><span>单网格最大交易数量</span><input type="text" class="edit-max-numx"
                                                             value="{{ robots.robot.fields.max_num }}"></li>
                            <li class="gird_profit"><span>单网格利润 </span><span class="grofit-value">{{ robots.robot.fields.girding_profit }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="risk-strategy">
                        <div>风险策略</div>
                        <ul>
                            <li><span>止损价</span><input type="text" class="edit-stoploss"
                                                       value="{{ robots.robot.fields.stop_price }}"></li>
                            <li><span>预警价</span><input type="text" class="edit-waring"
                                                       value="{{ robots.robot.fields.warning_price }}"></li>
                        </ul>
                    </div>
                    <div class="risk-strategy-warninguser">
                        <div>预警账户</div>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="checkbox"> 524135494218
                            </label>
                            <label class="btn btn-default">
                                <input type="checkbox"> @68451816548
                            </label>
                            <label class="btn btn-default">
                                <input type="checkbox"> 66@454519684
                            </label>
                            <label class="btn btn-default">
                                <input type="checkbox"> 318416518687
                            </label>
                            <label class="btn btn-default">
                                <input type="checkbox"> 684651684654
                            </label>
                            <label class="btn btn-default">
                                <input type="checkbox"> 546843216874
                            </label>
                            <label class="btn btn-default">
                                <input type="checkbox"> 356468513544
                            </label>
                            <label class="btn btn-default">
                                <input type="checkbox"> 546846516848
                            </label>
                            <label class="btn btn-default">
                                <input type="checkbox"> 683548946848
                            </label>
                            <label class="btn btn-default">
                                <input type="checkbox"> 684651684654
                            </label>
                            <label class="btn btn-default">
                                <input type="checkbox"> 683548946848
                            </label>
                            <label class="btn btn-default">
                                <input type="checkbox"> 684651684654
                            </label>
                            <label class="btn btn-default">
                                <input type="checkbox"> 683548946848
                            </label>
                            <label class="btn btn-default">
                                <input type="checkbox"> 684651684654
                            </label>
                            <label class="btn btn-default">
                                <input type="checkbox"> 683548946848
                            </label>
                            <label class="btn btn-default">
                                <input type="checkbox"> 684651684654
                            </label>
                        </div>
                    </div>
                    {% endverbatim %}
                </script>
            </div>
            <div class="risk-footer">
                <div class="risk-button">
                    <button class="prevent-btn  " id="btnPre1">取消</button>
                    <button class="next-btn" id="btnNext1">完成</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'ystep-master/js/jquery.min.js' %}"></script>
    <script src="{% static 'ystep-master/js/ystep.js' %}"></script>
    <script src="{% static 'js/girding.min.js' %}"></script>

{% endblock %}